<header>
    <h1>Code samples for using Vonage SMS API</h1>
    <h3>Learn how to send and receive messages</h3>
</header>

<div style="width:50%; padding-top:10px">
    <div class="content">
        <div class="title" style="height:20px; background-color:cornflowerblue; text-align:center">
            <span style="vertical-align:central; text-align:center">Send SMS</span>
        </div>
        <div style="padding-top:20px">
            @using (Html.BeginForm("Send", "SMS", FormMethod.Post))
            {
                <input type="text" name="to" id="to" placeholder="To" style="height:30px" />
                <br />
                <input type="text" name="from" id="from" placeholder="from" style="height:30px" />
                <br />
                <input type="text" name="message" id="message" placeholder="message" style="height:30px" />
                <input type="submit" value="Send" style="height:30px;" />
            }
        </div>
        <h2> @ViewBag.result</h2>
    </div>
</div>
